<!-- Archivo para Micropython, VHDL y Arduino -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Editor Monaco con Flask y SQLite</title>
    <style>
        #editor { width: 800px; height: 400px; border: 1px solid gray; }
        button { margin-top: 10px; }
        #editor { width: 800px; height: 400px; border: 1px solid gray; }
        button { margin-top: 10px; }

        .monaco-editor .micropyhton-keywords-style {
            color: rgb(207, 110, 216);
        }

        .monaco-editor .arduino-keywords-style {
            color: rgb(207, 110, 216);
        }

    </style>
</head>
<body>

    <div id="editor"></div>

    <br>

    <button id="localBtn">Guardar local</button>
    <button id="guardarBtn">Guardar contenido</button>
    <button id="cargarBtn">Cargar contenido</button>

    <br><br>

    <label for="lenguaje">Selecciona un lenguaje:</label>
    <select id="lenguaje" name="lenguaje">
        <option value="" selected>-- Selecciona un lenguaje --</option>
        <option value="c">Arduino</option>
        <option value="python">Micropython</option>
        <option value="customVhdl">VHDL</option>
    </select>

    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/loader.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>