<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monaco Editor con Flask</title>
    <!-- CSS embebido -->
    <style>
        #editor {
            width: 100%;
            height: 90vh;
            border: 1px solid #ccc;
        }
        #saver {
            margin: 10px 0;
            padding: 8px 12px;
            font-size: 16px;
            background-color: rgb(197, 248, 248);
        }
    </style>
    <!-- Carga del sistema de módulos (el código) de Monaco Editor desde la CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.min.js"></script>
</head>

<body>
    <h2>Editor Monaco integrado con Flask</h2>
    <button id="saver">Guardar localmente</button>
    <!-- Contenedor del editor de Monaco -->
    <div id="editor"></div>

    <script>
        let editorInstance;

        // Configura dónde buscar el código fuente del editor (paths.vs)
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs' }});
        // Carga el módulo principal del editor
        require(['vs/editor/editor.main'], function () {
            // Esta línea se ejecuta para crear el editor en el div con id="editor"
                // value: el código que aparece por defecto
                // language: 'python' (activa resaltado para Python)
                // theme: tema de colores
            editorInstance = monaco.editor.create(document.getElementById('editor'), {
                value: [
                    'def hello_world():',
                    '    print("Hola desde Flask y Monaco!")'
                ].join('\n'),
                language: 'python',
                theme: 'vs-dark'
            });
        });

        // Función de botón
        document.getElementById("saver").addEventListener('click', function (){
            // Texto del código del editor
            const texto = editorInstance.getValue();

            // Hace una solicitud HTTP al servidor Flask en la ruta /save
            fetch('/save', {
                // Indica que es una petición POST (para enviar datos al servidor).
                method: 'POST',
                headers: {
                    // Expresa el formato del contenido
                    'Content-Type': 'application/json'
                },
                // Conversión del código escrito a JSON
                body: JSON.stringify({ content: texto })
            })
            // res es un objeto Response con la respuesta de la solicitud; se devuelve el JSON
            .then(res => res.json())
            // data.message es el mensaje de confirmación
            .then(data => {
                alert(data.message);
            })
            .catch(err => {
                console.error(err);
                alert("Error guardando el archivo");
            });
        })
    </script>
</body>
</html>