<!-- Archivo para Micropython, VHDL y Arduino -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monacoEditor/monacoEditorVisuals.css') }}">
    <title>Editor Monaco con Flask y SQLite</title>
</head>
<body>

    <div id="editor"></div>

    <br>

    <button id="localBtn">Guardar local</button>
    <button id="guardarBtn">Guardar contenido</button>
    <button id="cargarBtn">Cargar contenido</button>

    <br><br>

    <label for="lenguaje">Selecciona un lenguaje:</label>
    <select id="lenguaje" name="lenguaje">
        <option value="c" selected>Arduino</option>
        <option value="python">Micropython</option>
        <option value="customVhdl">VHDL</option>
    </select>

    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/loader.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>